@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.otf?1428713109') format('opentype');
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('../fonts/Montserrat-Light.otf?1428713109') format('opentype');
}
/* line 24, ../sass/_base.scss */
* {
  font-family: Montserrat-Light, serif;
  outline: none;
}

/* line 13, ../sass/table.scss */
table {
  border: solid 1px #006464;
  border-collapse: collapse;
}
/* line 2, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 4, ../sass/table.scss */
table tbody > tr:nth-child(even) {
  background-color: #293333;
}
/* line 8, ../sass/table.scss */
table tbody > tr:nth-child(odd) {
  background-color: #515e5e;
}
/* line 23, ../sass/table.scss */
table thead > tr {
  background-color: #008282;
}
/* line 27, ../sass/table.scss */
table th {
  border-bottom: solid 2px #006464;
  padding: 8px 20px;
}
/* line 32, ../sass/table.scss */
table td {
  padding: 10px;
  text-align: center;
}
