@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.otf?1428713109') format('opentype');
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('../fonts/Montserrat-Light.otf?1428713109') format('opentype');
}
/* line 24, ../sass/_base.scss */
* {
  font-family: Montserrat-Light, serif;
  outline: none;
}

/* line 3, ../sass/tiling.scss */
div.tiling {
  -moz-box-shadow: #0d1b1b 1px 1px 3px;
  -webkit-box-shadow: #0d1b1b 1px 1px 3px;
  box-shadow: #0d1b1b 1px 1px 3px;
  background-color: #0d1b1b;
  color: #f6ffff;
  margin: 20px;
  padding: 20px;
}
