@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.otf?1428713109') format('opentype');
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('../fonts/Montserrat-Light.otf?1428713109') format('opentype');
}
/* line 24, ../sass/_base.scss */
* {
  font-family: Montserrat-Light, serif;
  outline: none;
}

/* line 21, ../sass/widget.scss */
.widget-wrapper {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: 0 0 6px #020d0e inset;
  -webkit-box-shadow: 0 0 6px #020d0e inset;
  box-shadow: 0 0 6px #020d0e inset;
  background-color: #293333;
  display: inline-block;
  padding: 3px;
}

/* line 30, ../sass/widget.scss */
.widget-button, .widget-button-blue, .widget-button-red {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  text-align: center;
  width: 30px;
}

/* line 6, ../sass/widget.scss */
.widget-button-blue {
  -moz-box-shadow: 0 0 6px #008282;
  -webkit-box-shadow: 0 0 6px #008282;
  box-shadow: 0 0 6px #008282;
  background-color: #008282;
  color: #f6ffff;
}
/* line 13, ../sass/widget.scss */
.widget-button-blue:hover {
  -moz-box-shadow: 0 0 6px #f6ffff;
  -webkit-box-shadow: 0 0 6px #f6ffff;
  box-shadow: 0 0 6px #f6ffff;
  background-color: #f6ffff;
  color: #008282;
}

/* line 6, ../sass/widget.scss */
.widget-button-red {
  -moz-box-shadow: 0 0 6px #ff3100;
  -webkit-box-shadow: 0 0 6px #ff3100;
  box-shadow: 0 0 6px #ff3100;
  background-color: #ff3100;
  color: #f6ffff;
}
/* line 13, ../sass/widget.scss */
.widget-button-red:hover {
  -moz-box-shadow: 0 0 6px #f6ffff;
  -webkit-box-shadow: 0 0 6px #f6ffff;
  box-shadow: 0 0 6px #f6ffff;
  background-color: #f6ffff;
  color: #ff3100;
}
