@import "formBase";
@import "toggle";

input[type=radio] {

  $width: 25px;

  @include input-toggle-color($primary-color-3, $secondary-color-1-0, $secondary-color-1-2, $primary-color-2, $secondary-color-1-2, $primary-color-3);

  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label {

    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    width: $width;
    height: $width;
    border-radius: 60px;
    transition: background 0.4s;

    &:before, &:after {
      display: block;
      position: absolute;
      content: "";
    }

    &:before {
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      border-radius: 60px;
      transition: background 0.4s;
    }
  }

  &:checked + label {

    &:after {
      $padding : 4px;
      top: $padding;
      left: $padding;
      right: $padding;
      bottom: $padding;

      border-radius: 52px;
      @include box-shadow(2px 1px 0 $primary-color-2);
    }
  }
}