@import "compass";

@include font-face("Montserrat", font-files("Montserrat-Regular.otf"));
@include font-face("Montserrat-Light", font-files("Montserrat-Light.otf"));

$primary-color-0: #020d0e;
$primary-color-1: #0d1b1b;
$primary-color-2: #293333;
$primary-color-3: #515e5e;
$primary-color-4: #f6ffff;

$secondary-color-1-0: #006464;
$secondary-color-1-1: #008282;
$secondary-color-1-2: #00ffff;
$secondary-color-1-3: #70ffff;
$secondary-color-1-4: #a4ffff;

$secondary-color-2-0: #a72000;
$secondary-color-2-1: #d92a00;
$secondary-color-2-2: #ff3100;
$secondary-color-2-3: #ff5035;
$secondary-color-2-4: #ffb5a4;

* {
  font-family: Montserrat-Light, serif;
  outline: none;
}



