@import "base";

@mixin stripping-list-rows($even-row-color, $odd-row-color) {
  li:nth-child(even) {
    background-color: $even-row-color;
  }

  li:nth-child(odd) {
    background-color: $odd-row-color;
  }
}

ul {
  $even-row-color: $secondary-color-1-0;
  $odd-row-color: $secondary-color-1-1;

  @include no-bullet;
  @include stripping-list-rows($even-row-color, $odd-row-color);


  border : solid 1px $secondary-color-1-0;
  display : inline-block;
  padding: 0;
  text-shadow: 1px 1px 1px $primary-color-0;

  li {
    padding: 10px;
  }
}