@import "base";

@mixin stripping-body-rows($even-row-color, $odd-row-color) {
  tbody > tr:nth-child(even) {
    background-color: $even-row-color;
  }

  tbody > tr:nth-child(odd) {
    background-color: $odd-row-color;
  }
}

table {
  $even-row-color: $primary-color-2;
  $odd-row-color: $primary-color-3;

  @include table-scaffolding;
  @include stripping-body-rows($even-row-color, $odd-row-color);

  border: solid 1px $secondary-color-1-0;
  border-collapse: collapse;

  thead > tr {
    background-color: $secondary-color-1-1;
  }

  th {
    border-bottom: solid 2px $secondary-color-1-0;
    padding: 8px 20px;
  }

  td {
    padding: 10px;
    text-align: center;
  }

}
